.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #ffffff;
    color: #0d141a;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: #e8e9eb 4px 4px 20px;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Default Menu for Larger Devices */
.navbar-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: #0d141a;
    font-size: 1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link.active {
    border-bottom: 2px solid #0d141a;
    color: #0d141a;
}

.nav-link:hover {
    color: #0d141a;
    border-bottom: 2px solid #0d141a;
}

/* Responsive styles for small devices */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        box-shadow: #e8e9eb 0px 4px 20px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 10px 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .navbar-links.open {
        display: flex;
    }

    .nav-link {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .nav-link.active {
        border-bottom: 2px solid #0d141a;
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 10px 20px;
    }

    .navbar-logo {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}
